<div class="back">

</div>

<!-- Mensagem de sucesso -->
<div *ngIf="isSent" class="container d-flex justify-content-center align-items-center text-center"
    style="margin-top: 7rem;">
    <div class="alert alert-dark fw-medium fs-4 p-4">
        <b>Mensagem enviada com sucesso!</b>
    </div>
</div>

<div class="container colored-container p-5 rounded mb-5" style="margin-top: 5rem;">
    <h1 class="text-center mb-2">Entre em <span style="color: rgb(248, 152, 255);">Contato</span> Comigo!</h1>
    <form #formEmail="ngForm" (ngSubmit)="sendEmail(formEmail)">
        <div class="row form-group text-start d-flex">
            <div class="input-wrapper col-md-5">
                <input type="text" id="name" class="form-control input-field text-light" name="name" ngModel required />
                <label for="name" class="input-label text-light fs-5">NOME</label>
            </div>
            <div class="col-md-1"></div>
            <div class="input-wrapper col-md-6">
                <input type="email" id="email" class="form-control input-field text-light" name="email" ngModel required
                    email #emailModel="ngModel" />
                <label for="email" class="input-label text-light fs-5">E-MAIL</label>
            </div>
        </div>
        <div class="row form-group mt-1">
            <div class="input-wrapper col-md-12">
                <textarea cols="30" rows="4" name="text" id="text" class="form-control input-field text-light" ngModel
                    required></textarea>
                <label for="text" class="input-label fs-5 text-white">MENSAGEM</label>
            </div>
        </div>
        <div class="format-button mt-4 text-center">
            <button class="btn btn-outline-success w-50" type="submit"
                [disabled]="formEmail.invalid || !emailModel.valid">
                Enviar
            </button>
        </div>
    </form>
</div>