<footer class="allfooter bg-dark font-small text-white text-center rounded shadow w-100 p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="fs-4">Siga-me Nas Redes Sociais</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-center">
                <ul class=" socialsmedias">
                    <li><a class="icoInstagram" href="https://www.instagram.com/leosantannx/" target="_blank"
                            title="Instagram">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a></li>
                    <li><a class="icoLinkedin" title="Linkedin"
                            href="https://www.linkedin.com/in/leonardo-sant-anna-de-oliveira-273183223/"
                            target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a></li>
                    <!-- https://github.com/santannal -->
                    <li><a class="icoGithub" title="Github" href="https://github.com/santannal" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center">
        <span class="text-light">&copy; 2024 Developed by Sant'Anna</span>
    </div>
</footer>