.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
    border: 1px solid white;
    width: 30px;
    height: 3px;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    background-color: white;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 0;
}

.active-link {
    color: #00ff22;
    transform: scale(1.1);
    border-bottom: 1px solid #00ff22;
}


.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.navbar-nav .nav-link {
    color: white;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    transition: all 0.3s;
    color: #00ff22;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        display: block;
        margin: 0.5rem 0;
    }
}