<nav class="navbar navbar-expand-lg bg-dark p-1 shadow fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white ms-3" href="#"><span class="text-danger display-5">My</span>Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-3 mb-lg-0 fs-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/feed" routerLinkActive="active-link">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>