<div class="back">

</div>
<div class="container bg-dark p-5 mb-5 rounded shadow" style="margin-top: 7rem;">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1 class="typewriter text-center fs-1">Sejam bem vindos!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <p class="text-center fs-3">Olá! Sou Leonardo Sant'Anna de Oliveira e sou estudante da Fatec Dom Amaury
                Castanho. Este é o meu blog, criado com <span class="text-danger">Angular</span>, onde compartilho
                ideias e interajo com vocês.</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn-colored-bg rounded shadow fs-5 text-light" routerLink="/feed">VERIFIQUE O FEED!</button>
        </div>
    </div>
</div>